Repository boostcampwm2023/iOS05-Village, pull requests merged in 2023-12, with the labels that each got.

#262 [BE/#238] DB 쿼리 수정
  BE/src/chat/chat.controller.ts
  BE/src/chat/chat.module.ts
  BE/src/chat/chat.service.ts
  BE/src/entities/chatRoom.entity.ts
  BE/src/entities/post.entity.ts
  BE/src/entities/user.entity.ts
Labels: review, BE

#263 [BE/#208] 게시글,사용자 정보 수정 권한 추가
  BE/src/post/post.controller.ts
  BE/src/post/post.service.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.service.ts
Labels: BE

#266 [BE/#264] 채팅 내역 응답 API
  BE/.gitignore
  BE/src/app.module.ts
  BE/src/chat/chat.controller.ts
  BE/src/chat/chat.service.ts
Labels: review, BE, chatting

#270 [BE/#267] 채팅 푸시 알림 전송 구현
  BE/src/chat/chat.module.ts
  BE/src/chat/chat.service.ts
  BE/src/chat/chats.gateway.ts
  BE/src/utils/fcmHandler.ts
Labels: BE, chatting

#269 [BE/#268] findRoomList 쿼리 수정
  BE/src/chat/chat.service.ts
Labels: review, BE, chatting

#281 [iOS/#278] 액션시트를 활용한 편집, 삭제, 숨김, 차단 액션 구현
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
Labels: iOS, post-detail

#282 [iOS/#277] 게시글 편집 구현
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreateTimeView.swift
  iOS/Village/Village/Presentation/PostCreate/View/PostCreateViewController.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
Labels: iOS, post-manage

#275 [BE/#272] 게시글을 최신순으로 정렬하여 조회
  BE/src/post/post.service.ts
Labels: BE, environment

#279 [BE/#276] 전송 성공 확인 메시지 응답 구현
  BE/src/chat/chat.controller.ts
  BE/src/chat/chat.service.ts
  BE/src/chat/chats.gateway.ts
Labels: review, BE, chatting

#293 [BE/#292] update dto에서 contents -> description 으로 수정
  BE/src/post/dto/postUpdate.dto.ts
Labels: BE, post-manage

#294 [BE/#292] 테이블 변경
  BE/src/entities/post.entity.ts
  BE/src/post/post.service.ts
Labels: BE, post-manage

#296 [iOS/#285] 편집시 View, ViewModel 업데이트
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreateDetailView.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreatePriceView.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreateTimeView.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreateTitleView.swift
  iOS/Village/Village/Presentation/PostCreate/View/PostCreateViewController.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
  iOS/Village/Village/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
Labels: iOS, post-manage

#306 [BE/#299] 웹소켓 인가 처리
  BE/package-lock.json
  BE/package.json
  BE/src/chat/chat.service.ts
  BE/src/chat/chats.gateway.ts
Labels: BE, chatting

#302 [iOS/#242] AuthInterceptor 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Application/SceneDelegate.swift
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Network/APIProvider/APIProvider.swift
  iOS/Village/Village/Network/APIProvider/AuthInterceptor.swift
Labels: enhancement, iOS, environment

#316 [BE/#311] 채팅 읽음처리
  BE/src/chat/chat.service.ts
  BE/src/chat/chats.gateway.ts
  BE/src/chat/dto/chat.dto.ts
Labels: BE, chatting

#315 [BE/#310] 작성자 id로 게시글 검색 구현
  BE/src/post/post.service.ts
Labels: BE, environment

#283 [iOS/#280] 숨긴 게시글 및 차단 관리 화면으로 이동
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/BannedUser/BannedUserViewController.swift
  iOS/Village/Village/Presentation/MyPage/View/MyPageViewController.swift
  iOS/Village/Village/Presentation/PostMute/PostMuteViewController.swift
Labels: iOS, post-hide

#319 [iOS/#284] 숨긴 게시글 뷰 구현 및 AutoLayout 적용 다시 머지
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Data/Dummy/PostMute.json
  iOS/Village/Village/Domain/Network/PostMuteResponseDTO.swift
  iOS/Village/Village/Presentation/PostMute/PostMuteTableViewCell.swift
  iOS/Village/Village/Presentation/PostMute/PostMuteViewController.swift
Labels: iOS, post-hide

#308 [iOS/#287] 채팅하기 버튼 후 채팅방 생성
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Network/PostRoomRequestDTO.swift
  iOS/Village/Village/Domain/Network/PostRoomResponseDTO.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
  iOS/Village/Village/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
Labels: iOS, post-detail, chatting

#321 [BE/#318] 프로필 기본 이미지 전송
  BE/src/users/users.service.ts
Labels: BE, chatting

#323 [iOS/#301] 편집 완료시 상세 페이지 새로고침
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Network/PostModifyRequestDTO.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreatePriceView.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreateTitleView.swift
  iOS/Village/Village/Presentation/PostCreate/View/PostCreateViewController.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
  iOS/Village/Village/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
Labels: iOS, post-manage

#325 [BE/#320] 채팅방 생성시 없는 게시물 404 , 채팅 count 수정
  BE/src/chat/chat.controller.ts
  BE/src/chat/chat.service.ts
  BE/src/chat/chats.gateway.ts
  BE/src/chat/dto/chat.dto.ts
  BE/src/entities/chat.entity.ts
Labels: review, BE, chatting

#326 [iOS/#324] 로그아웃 UIAlertView 구현
  iOS/Village/Village/Presentation/MyPage/View/MyPageViewController.swift
  iOS/Village/Village/Presentation/MyPage/ViewModel/MyPageViewModel.swift
Labels: iOS, logout, mypage

#328 [iOS/#309] 채팅방 입장 시 로그 가져오기 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Application/AppDelegate.swift
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Network/GetRoomResponseDTO.swift
  iOS/Village/Village/Presentation/ChatList/View/ChatListViewController.swift
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Presentation/ChatRoom/ViewModel/ChatRoomViewModel.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
  iOS/Village/Village/Socket/WebSocket.swift
Labels: iOS, chatting

#330 [BE/#322] 검색 구현 및 페이지네이션 수정
  BE/src/post/post.service.ts
Labels: BE, environment

#333 [iOS/#332] 회원 탈퇴 구현
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Data/PersistentStorage/JWTManager.swift
  iOS/Village/Village/Presentation/MyPage/ViewModel/MyPageViewModel.swift
Labels: iOS, account-delete, mypage

#338 [iOS/#336] 게시글 등록 안되는 현상 제거
  iOS/Village/Village/Network/EndPoint/Protocol/Requestable.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
Labels: iOS, environment

#342 [BE/#322] 도커 적용 및 로그 변경
  BE/.dockerignore
  BE/Dockerfile
  BE/src/app.module.ts
  BE/src/config/winston.config.ts
  BE/src/main.ts
Labels: BE, environment

#341 [iOS/#334] 채팅방에서 상세화면으로 이동
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Presentation/ChatRoom/ViewModel/ChatRoomViewModel.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
  iOS/Village/Village/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
Labels: iOS, post-detail, chatting

#345 [BE/#322] 웹소켓 인가처리 임시 비활성화
  BE/src/chat/chats.gateway.ts
Labels: BE, environment

#346 [iOS/#331] 로그아웃 구현
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Presentation/MyPage/ViewModel/MyPageViewModel.swift
Labels: iOS, logout, mypage

#349 [iOS/#344] 차단 관리 뷰 구현 및 AutoLayout 적용
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Domain/Network/UserResponseDTO.swift
  iOS/Village/Village/Presentation/BannedUser/BannedUserViewController.swift
  iOS/Village/Village/Presentation/BlockedUser/View/BlockedUserTableViewCell.swift
  iOS/Village/Village/Presentation/BlockedUser/View/BlockedUserViewController.swift
  iOS/Village/Village/Presentation/BlockedUser/ViewModel/BlockedUserViewModel.swift
  iOS/Village/Village/Presentation/MyPage/View/MyPageViewController.swift
Labels: iOS, user-block

#350 [iOS/#340] 내 게시글 페이지네이션
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/Commons/RentPostSummaryView.swift
  iOS/Village/Village/Presentation/Commons/RequestPostSummaryView.swift
  iOS/Village/Village/Presentation/Home/View/HomeCollectionViewCell.swift
  iOS/Village/Village/Presentation/MyPosts/MyPostsViewController.swift
  iOS/Village/Village/Presentation/MyPosts/RentPostTableViewCell.swift
  iOS/Village/Village/Presentation/MyPosts/RequstPostTableViewCell.swift
  iOS/Village/Village/Presentation/MyPosts/ViewModel/MyPostsViewModel.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
Labels: iOS, post-manage

#353 [BE/#351] 파일 최대 용량 설정
  BE/src/chat/chats.gateway.ts
  BE/src/post/post.controller.ts
  BE/src/users/users.controller.ts
Labels: review, BE, post-create

#357 [BE/#348] 로그아웃 API 구현
  BE/src/login/login.controller.ts
  BE/src/login/login.service.ts
Labels: BE, logout

#355 [iOS/#354] 소켓통신 시, JWT 헤더에 적용
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Socket/WebSocket.swift
Labels: iOS, chatting

#359 [iOS/#352] 내 게시글 선택시 상세 페이지로 이동
  iOS/Village/Village/Presentation/MyPosts/View/MyPostsViewController.swift
  iOS/Village/Village/Presentation/MyPosts/ViewModel/MyPostsViewModel.swift
Labels: iOS, post-manage

#361 [iOS/#347] 게시물 목록 페이지네이션
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Network/GetPostsQueryDTO.swift
  iOS/Village/Village/Domain/Network/PostListRequestDTO.swift
  iOS/Village/Village/Presentation/Home/Model/PostListItem.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/Home/ViewModel/HomeViewModel.swift
Labels: enhancement, iOS, post-list

#366 [iOS/#365] DTO 오류 해결
  iOS/Village/Village/Presentation/MyPosts/ViewModel/MyPostsViewModel.swift
Labels: iOS, environment

#367 [BE/#358] max file validator 수정
  BE/src/post/post.controller.ts
  BE/src/utils/files.validator.ts
Labels: BE, environment

#369 [BE] 파일사이즈 검사 로직 수정
  BE/src/post/post.controller.ts
  BE/src/users/users.controller.ts
  BE/src/utils/files.validator.ts
Labels: BE, environment

#370 [iOS/#343] 홈 화면으로 돌아왔을 때 새로고침
  iOS/Village/Village/Presentation/Home/View/HomeCollectionViewCell.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/Home/ViewModel/HomeViewModel.swift
Labels: iOS, post-list

#372 [iOS/#364] 상세 화면 내 게시글 여부 확인
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
Labels: iOS, post-manage

#373 [BE/#358] registration token 삭제 구현
  BE/src/chat/chat.service.ts
  BE/src/login/login.module.ts
  BE/src/login/login.service.ts
  BE/src/utils/fcmHandler.ts
Labels: BE, environment

#377 [iOS/#371] 채팅목록에서 채팅방내역 API 연결
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Network/GetChatListResponseDTO.swift
  iOS/Village/Village/Domain/Network/GetRoomResponseDTO.swift
  iOS/Village/Village/Presentation/ChatList/View/ChatListTableViewCell.swift
  iOS/Village/Village/Presentation/ChatList/View/ChatListViewController.swift
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Presentation/ChatRoom/ViewModel/ChatRoomViewModel.swift
  iOS/Village/Village/Socket/WebSocket.swift
Labels: iOS, chatting

#382 [BE/#380] 푸시 알림 오류 수정
  BE/src/utils/fcmHandler.ts
Labels: BE, environment

#383 [iOS/#374] 시간 선택 로직 변경
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreateDetailView.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreatePriceView.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreateTimeView.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreateTitleView.swift
  iOS/Village/Village/Presentation/PostCreate/View/PostCreateViewController.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
  iOS/Village/Village/Presentation/PostDetail/Custom/PostInfoView.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
  iOS/Village/Village/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
Labels: iOS

#389 [BE] BE Main 브랜치 Merge
  BE/.dockerignore
  BE/.gitignore
  BE/Dockerfile
  BE/package-lock.json
  BE/package.json
  BE/src/app.module.ts
  BE/src/chat/chat.controller.ts
  BE/src/chat/chat.module.ts
  BE/src/chat/chat.service.ts
  BE/src/chat/chats.gateway.ts
  BE/src/chat/dto/chat.dto.ts
  BE/src/config/winston.config.ts
  BE/src/entities/chat.entity.ts
  BE/src/entities/chatRoom.entity.ts
  BE/src/entities/post.entity.ts
  BE/src/entities/user.entity.ts
  BE/src/login/login.controller.ts
  BE/src/login/login.module.ts
  BE/src/login/login.service.ts
  BE/src/main.ts
  BE/src/post/dto/postUpdate.dto.ts
  BE/src/post/post.controller.ts
  BE/src/post/post.service.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.service.ts
  BE/src/utils/fcmHandler.ts
  BE/src/utils/files.validator.ts
  BE/src/utils/httpLogger.interceptor.ts
  BE/src/utils/redis.ts
  BE/static/1024.png
  BE/static/Village.ipa
  BE/static/index.html
  BE/static/manifest.plist
Labels: review, BE

#395 [iOS/#391] 새로고침 페이지네이션 충돌 버그 수정
  iOS/Village/Village/Presentation/Home/ViewModel/HomeViewModel.swift
Labels: enhancement, iOS, post-list

#396 [iOS/#393] 게시글 등록 피드백 반영
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreatePriceView.swift
  iOS/Village/Village/Presentation/PostCreate/View/PostCreateViewController.swift
Labels: iOS, post-create

#398 [iOS/#397] 게시글 등록 가격 설정 HotFix
  iOS/Village/Village/Presentation/Commons/RentPostSummaryView.swift
  iOS/Village/Village/Presentation/Home/View/HomeCollectionViewCell.swift
  iOS/Village/Village/Presentation/MyPosts/View/RentPostTableViewCell.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreatePriceView.swift
  iOS/Village/Village/Presentation/PostCreate/View/PostCreateViewController.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
Labels: iOS, post-create

#399 [BE/#385] 기본 이미지 url 전송
  BE/src/chat/chat.service.ts
Labels: review, BE

#403 [BE/#402] 유저 수정 방식 변경
  BE/src/users/users.service.ts
Labels: BE, mypage

#405 [BE/#401] findRoomList 쿼리 수정
  BE/src/app.module.ts
  BE/src/chat/chat.service.ts
  BE/src/utils/redis.ts
Labels: review, BE, chatting

#406 [BE/#356] 서버 Redis 연결
  BE/package-lock.json
  BE/package.json
  BE/src/app.module.ts
  BE/src/config/redis.config.ts
Labels: review, BE, environment

#408 [iOS/#400] 채팅방 receive 과정 디코딩 에러 수정
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Socket/WebSocket.swift
Labels: enhancement, iOS, chatting

#413 [BE/#412] 푸시 알림에서 전송자 이름으로 변경
  BE/src/chat/chat.service.ts
Labels: BE, chatting

#411 [iOS/#409] 게시글 숨기기 구현
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
  iOS/Village/Village/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
Labels: iOS, post-hide

#414 [iOS/#388] 채팅방 프로필 사진 적용
  iOS/Village/Village/Domain/Network/GetRoomResponseDTO.swift
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomTableViewCell.swift
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Presentation/ChatRoom/View/OpponentChatTableViewCell.swift
  iOS/Village/Village/Presentation/ChatRoom/ViewModel/ChatRoomViewModel.swift
  iOS/Village/Village/Resources/Assets.xcassets/KeyboardTextFieldColor.colorset/Contents.json
Labels: enhancement, iOS, chatting

#419 [iOS/#69] 대여 게시글 등록 화면 사진 등록 로직 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Common/Constants.swift
  iOS/Village/Village/Domain/Network/PostModifyRequestDTO.swift
  iOS/Village/Village/Presentation/PostCreate/Model/ImageItem.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/Cell/CameraButtonCell.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/Cell/ImageViewCell.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/ImageUploadView.swift
  iOS/Village/Village/Presentation/PostCreate/View/PostCreateViewController.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
Labels: iOS, post-create

#424 [BE/#417] RefreshToken Redis 저장
  BE/src/login/login.controller.ts
  BE/src/login/login.service.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.module.ts
  BE/src/users/users.service.ts
Labels: review, BE, login

#422 [BE/#422] 제목 자동완성 API 구현
  BE/src/post/post.controller.ts
  BE/src/post/post.service.ts
Labels: BE, post-search

#425 [BE/#423] 숨긴 게시글 응답 수정
  BE/src/login/login.controller.ts
  BE/src/posts-block/posts-block.controller.ts
  BE/src/posts-block/posts-block.service.ts
Labels: BE, post-hide

#428 [iOS/#427] 숨긴 게시글 버튼으로 숨김 관리 구현
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Presentation/MyHiddenPosts/View/HiddenRentPostTableViewCell.swift
  iOS/Village/Village/Presentation/MyHiddenPosts/View/HiddenRequestPostTableViewCell.swift
  iOS/Village/Village/Presentation/MyHiddenPosts/View/MyHiddenPostsViewController.swift
  iOS/Village/Village/Presentation/MyHiddenPosts/ViewModel/MyHiddenPostsViewModel.swift
Labels: iOS, post-hide

#429 [iOS/#421] 대여 게시글 등록 화면 선택 사진 삭제 구현
  iOS/Village/Village/Presentation/PostCreate/View/Custom/Cell/CameraButtonCell.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/Cell/ImageViewCell.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/ImageUploadView.swift
  iOS/Village/Village/Presentation/PostCreate/View/PostCreateViewController.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
Labels: iOS, post-create

#431 [iOS/#415] 검색 화면 뷰 구현 및 AutoLayout 적용
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/Search/SearchViewController.swift
  iOS/Village/Village/Presentation/SearchResult/View/SearchRentTableViewCell.swift
  iOS/Village/Village/Presentation/SearchResult/View/SearchRequstTableViewCell.swift
  iOS/Village/Village/Presentation/SearchResult/View/SearchResultViewController.swift
  iOS/Village/Village/Presentation/SearchResult/ViewModel/SearchResultViewModel.swift
Labels: iOS, post-search

#434 [BE] GET /chat/room API 수정
  BE/src/chat/chat.service.ts
Labels: review, BE, chatting

#437 [iOS/#436] 사용자 차단 구현
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
  iOS/Village/Village/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
Labels: iOS, user-block

#438 [iOS/#430] 대여 게시글 편집 화면 사진 로직 구현
  iOS/Village/Village/Domain/Network/PostModifyRequestDTO.swift
  iOS/Village/Village/Presentation/PostCreate/Model/ImageItem.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
  iOS/Village/Village/Presentation/PostDetail/Custom/ImagePageView.swift
Labels: enhancement, iOS, post-create

#440 [iOS/#435] 채팅방 버그 수정
  iOS/Village/Village/Application/AppDelegate.swift
  iOS/Village/Village/Presentation/ChatList/View/ChatListViewController.swift
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Presentation/ChatRoom/ViewModel/ChatRoomViewModel.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
Labels: enhancement, iOS, chatting

#444 [BE/#433] 채팅방 읽음처리 재수정
  BE/src/chat/chat.service.ts
Labels: review, BE, chatting

#445 [BE/#443] 유저 탈퇴시 게시글을 삭제 되지 않도록 수정
  BE/src/post/post.module.ts
  BE/src/post/post.service.ts
  BE/src/users/users.service.ts
Labels: BE, environment

#446 [BE/hotfix] BlockUser 기본 이미지 처리
  BE/src/users-block/users-block.service.ts
Labels: BE, user-block

#447 [BE/#442] /chat/unread API 구현
  BE/src/chat/chat.controller.ts
  BE/src/chat/chat.service.ts
Labels: review, BE, chatting

#448 [iOS/#439] 차단한 사용자 차단 관리 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Network/BlockedUserDTO.swift
  iOS/Village/Village/Presentation/BlockedUser/View/BlockedUserTableViewCell.swift
  iOS/Village/Village/Presentation/BlockedUser/View/BlockedUserViewController.swift
  iOS/Village/Village/Presentation/BlockedUser/ViewModel/BlockedUserViewModel.swift
  iOS/Village/Village/Presentation/BlockedUser/ViewModel/BlockedUsersViewModel.swift
  iOS/Village/Village/Presentation/MyHiddenPosts/View/MyHiddenPostsViewController.swift
  iOS/Village/Village/Presentation/MyPage/View/MyPageViewController.swift
Labels: iOS, user-block

#451 [iOS/#441] 채팅 목록 안읽은 알림 구현
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Network/GetChatListResponseDTO.swift
  iOS/Village/Village/Presentation/ChatList/View/ChatListTableViewCell.swift
  iOS/Village/Village/Presentation/ChatList/View/ChatListViewController.swift
  iOS/Village/Village/Presentation/ChatList/ViewModel/ChatListViewModel.swift
  iOS/Village/Village/Resources/Assets.xcassets/AlertColor.colorset/Contents.json
Labels: enhancement, iOS, chatting

#455 [iOS/#450] 홈 화면 사라지는 버그 수정
  iOS/Village/Village/Presentation/Search/SearchViewController.swift
Labels: enhancement, iOS

#459 [BE/#458] 신고하기 API 구현
  BE/src/app.module.ts
  BE/src/config/mysql.config.ts
  BE/src/entities/post.entity.ts
  BE/src/entities/report.entity.ts
  BE/src/entities/user.entity.ts
  BE/src/report/createReport.dto.ts
  BE/src/report/report.controller.ts
  BE/src/report/report.module.ts
  BE/src/report/report.service.ts
Labels: BE, environment

#453 [iOS/#449] 대여 등록시 사진 필수 구현
  iOS/Village/Village/Domain/Network/RequestFilterDTO.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreatePriceView.swift
  iOS/Village/Village/Presentation/PostCreate/View/PostCreateViewController.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
Labels: iOS, post-create

#460 [iOS/#454] 신고 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Network/ReportDTO.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
  iOS/Village/Village/Presentation/Report/View/ReportViewController.swift
  iOS/Village/Village/Presentation/Report/ViewModel/ReportViewModel.swift
Labels: iOS, report

#456 [iOS/#452] 검색화면에서 셀 클릭시 상세화면으로 이동
  iOS/Village/Village/Presentation/Commons/RentPostSummaryView.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/Search/SearchViewController.swift
  iOS/Village/Village/Presentation/SearchResult/View/SearchResultViewController.swift
Labels: iOS, post-search

#462 [iOS/#457] 채팅방 게시글 요청대여에 따른 postView 변경
  iOS/Village/Village/Presentation/ChatList/View/ChatListTableViewCell.swift
  iOS/Village/Village/Presentation/ChatList/View/ChatListViewController.swift
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomTableViewCell.swift
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Presentation/ChatRoom/View/OpponentChatTableViewCell.swift
  iOS/Village/Village/Presentation/Commons/RentPostSummaryView.swift
  iOS/Village/Village/Presentation/Commons/RequestPostSummaryView.swift
Labels: enhancement, iOS, chatting

#463 [iOS/#461] 썸네일 배경 삭제
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/MyPosts/View/RentPostTableViewCell.swift
Labels: iOS, post-manage

#465 [iOS/#464] 내 게시글 한쪽이 없을 때 생기는 버그 수정
  .DS_Store
  iOS/Village/Village/Presentation/MyPosts/View/MyPostsViewController.swift
  iOS/Village/Village/Presentation/MyPosts/ViewModel/MyPostsViewModel.swift
Labels: iOS, post-manage

#470 [iOS/#432] 홈 대여,요청 구분
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Common/Post.swift
  iOS/Village/Village/Presentation/Commons/Cell/RentPostTableViewCell.swift
  iOS/Village/Village/Presentation/Commons/Cell/RequstPostTableViewCell.swift
  iOS/Village/Village/Presentation/Commons/PostSegmentedControl.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/Home/ViewModel/HomeViewModel.swift
Labels: enhancement, iOS, post-list

#469 [BE/#467] OCR 핸들러 클래스 구현
  BE/package-lock.json
  BE/package.json
  BE/src/utils/ocrHandler.ts
Labels: BE, environment

#480 [BE/#475] 채팅 강제 disconnect 처리
  BE/src/chat/chats.gateway.ts
Labels: review, BE, chatting

#481 [BE/#476] Green Eye 적용 코드 구현
  BE/src/users/users.module.ts
  BE/src/users/users.service.ts
  BE/src/utils/greenEyeHandler.ts
  BE/src/utils/ocrHandler.ts
Labels: BE, environment

#478 [iOS/#477] 닉네임 로직 한글,영어,숫자만 가능하도록 재설정
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/EditProfile/View/Custom/NicknameTextField.swift
  iOS/Village/Village/Presentation/EditProfile/View/Custom/ProfileImageView.swift
  iOS/Village/Village/Presentation/EditProfile/View/EditProfileViewController.swift
  iOS/Village/Village/Presentation/EditProfile/ViewModel/EditProfileViewModel.swift
  iOS/Village/Village/Presentation/MyPage/View/MyPageViewController.swift
Labels: iOS, profile-update

#488 [iOS/#479] 내 게시글 편집/삭제 새로고침 안 되는 현상 제거
  iOS/Village/Village/Presentation/Commons/Cell/RentPostTableViewCell.swift
  iOS/Village/Village/Presentation/Commons/Cell/RequstPostTableViewCell.swift
  iOS/Village/Village/Presentation/MyPosts/View/MyPostsViewController.swift
  iOS/Village/Village/Presentation/MyPosts/ViewModel/MyPostsViewModel.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
Labels: iOS, post-manage

#484 [iOS/#482] 웹소켓 제대로 나가지도록 수정
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Socket/WebSocket.swift
Labels: enhancement, iOS, chatting

#490 [iOS/#489] 게시글 등록 max 날짜 설정
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreateTimeView.swift
Labels: iOS, post-create

#492 [BE/#487] 없는 유저나 게시글에 대해 채팅하려고 하면 오류 반환
  BE/src/chat/chat.controller.ts
  BE/src/chat/chat.service.ts
Labels: BE, environment

#494 [iOS/#486] 검색결과 페이지네이션 요청 계속가는 버그 수정
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/SearchResult/View/SearchResultViewController.swift
  iOS/Village/Village/Presentation/SearchResult/ViewModel/SearchResultViewModel.swift
Labels: enhancement, iOS, post-search

#500 [iOS/#474] 홈화면 새로고침 기능 개선
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Common/Int+.swift
  iOS/Village/Village/Common/NotificationName+.swift
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Network/PostListResponseDTO.swift
  iOS/Village/Village/Domain/Network/PostResponseDTO.swift
  iOS/Village/Village/Presentation/Commons/Cell/RentPostTableViewCell.swift
  iOS/Village/Village/Presentation/Commons/Cell/RequstPostTableViewCell.swift
  iOS/Village/Village/Presentation/Commons/RentPostSummaryView.swift
  iOS/Village/Village/Presentation/Home/Model/PostListItem.swift
  iOS/Village/Village/Presentation/Home/View/HomeCollectionViewCell.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/Home/ViewModel/HomeViewModel.swift
  iOS/Village/Village/Presentation/MyPosts/View/MyPostsViewController.swift
  iOS/Village/Village/Presentation/MyPosts/ViewModel/MyPostsViewModel.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
  iOS/Village/Village/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
  iOS/Village/Village/Presentation/SearchResult/View/SearchRentTableViewCell.swift
  iOS/Village/Village/Presentation/SearchResult/View/SearchRequstTableViewCell.swift
  iOS/Village/Village/Presentation/SearchResult/View/SearchResultViewController.swift
  iOS/Village/Village/Presentation/SearchResult/ViewModel/SearchResultViewModel.swift
Labels: enhancement, iOS, post-list

#502 [iOS/#499] 버튼 여러번 누르지 못하도록 설정
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
Labels: iOS, post-create

#473 [iOS/#468] 탭바에서 알림 확인
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Application/AppTabBarController.swift
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Network/GetAllReadResponseDTO .swift
  iOS/Village/Village/Presentation/SearchResult/View/SearchResultViewController.swift
Labels: iOS, chatting

#509 [iOS/#501] 게시글 숨김 처리 했을 때 새로고침 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Common/NotificationName+.swift
  iOS/Village/Village/Common/PostNotificationPublisher.swift
  iOS/Village/Village/Common/PostType.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/Home/ViewModel/HomeViewModel.swift
  iOS/Village/Village/Presentation/MyHiddenPosts/ViewModel/MyHiddenPostsViewModel.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
  iOS/Village/Village/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
Labels: enhancement, iOS, post-list

#505 [iOS/#504] 유저 탈퇴 관련 이슈 구현
  iOS/Village/Village/Presentation/PostDetail/Custom/UserInfoView.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
Labels: enhancement, iOS, post-detail

#507 [iOS/#506] PostView 불편함 해소
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
Labels: enhancement, iOS, post-detail

#512 [iOS/#511] 프로필 수정 버튼 Combine 수정
  iOS/Village/Village/Presentation/MyPage/View/MyPageViewController.swift
  iOS/Village/Village/Presentation/MyPage/ViewModel/MyPageViewModel.swift
Labels: iOS, profile-update

#515 [iOS/#513] 숨긴 게시글 하나 해제시 전체 게시글 숨김 해제 되는 현상 해결
  iOS/Village/Village/Presentation/MyHiddenPosts/View/HiddenRentPostTableViewCell.swift
  iOS/Village/Village/Presentation/MyHiddenPosts/View/HiddenRequestPostTableViewCell.swift
Labels: iOS, post-hide

#521 [BE/#519]신고 API 수정
  BE/src/entities/post.entity.ts
  BE/src/entities/report.entity.ts
  BE/src/entities/user.entity.ts
  BE/src/report/report.service.ts
Labels: BE, report

#520 [iOS/#517] 채팅 + 버튼 삭제
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
Labels: enhancement, iOS, chatting

#525 [iOS/#523] 홈 사용자 차단 새로고침 추가
  iOS/Village/Village/Common/NotificationName+.swift
  iOS/Village/Village/Common/PostNotificationPublisher.swift
  iOS/Village/Village/Presentation/BlockedUser/ViewModel/BlockedUsersViewModel.swift
  iOS/Village/Village/Presentation/Home/ViewModel/HomeViewModel.swift
  iOS/Village/Village/Presentation/MyHiddenPosts/ViewModel/MyHiddenPostsViewModel.swift
  iOS/Village/Village/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
Labels: enhancement, iOS, post-list, user-block

#526 [BE/#524] 탈퇴한 사용자도 차단할 수 있도록 수정
  BE/src/post/post.service.ts
  BE/src/users-block/users-block.service.ts
  BE/src/users/users.service.ts
Labels: BE, user-block

#527 [BE] 차단 해제후 목록에서 안뜨는 에러 수정
  BE/src/post/post.service.ts
Labels: BE, user-block

#528 [iOS/#518] 탈퇴한 회원 신고, 차단
  iOS/Village/Village/Domain/Network/BlockedUserDTO.swift
  iOS/Village/Village/Presentation/BlockedUser/View/BlockedUserTableViewCell.swift
  iOS/Village/Village/Presentation/Report/View/ReportViewController.swift
Labels: iOS, user-block, report

#530 [iOS/#516] 검색 결과 버그 수정
  iOS/Village/Village/Presentation/SearchResult/View/SearchRentTableViewCell.swift
  iOS/Village/Village/Presentation/SearchResult/View/SearchRequstTableViewCell.swift
  iOS/Village/Village/Presentation/SearchResult/View/SearchResultViewController.swift
  iOS/Village/Village/Presentation/SearchResult/ViewModel/SearchResultViewModel.swift
Labels: enhancement, iOS, post-search

#534 [iOS/#529] 가로 화면 지원
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/ChatList/View/ChatListViewController.swift
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Presentation/EditProfile/View/EditProfileViewController.swift
  iOS/Village/Village/Presentation/MyPage/View/MyPageViewController.swift
  iOS/Village/Village/Presentation/SearchResult/View/SearchResultViewController.swift
  iOS/Village/Village/Resources/Info.plist
Labels: iOS, environment

#535 [iOS/#522] 이미지 상세화면 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/PostDetail/Custom/ImageDetailView.swift
  iOS/Village/Village/Presentation/PostDetail/Custom/ImagePageView.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
  iOS/Village/Village/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
Labels: enhancement, iOS, post-detail

#532 [iOS/#531] 포스트뷰 때문에 채팅창 밀리는 버그 수정
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
Labels: enhancement, iOS, chatting

#539 [iOS/#514] 홈화면 페이지네이션 로직 개선
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/Home/ViewModel/HomeViewModel.swift
Labels: enhancement, iOS, post-list

#542 [iOS/#536] 게시글 등록 및 편집 리팩토링
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/PostCreate/View/Custom/TimePickerView.swift
  iOS/Village/Village/Presentation/PostCreate/View/PostCreateViewController.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
  iOS/Village/Village/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
Labels: iOS, post-create

#543 [iOS/#533] 이미지 캐싱
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Cache/ImageCache.swift
  iOS/Village/Village/Network/APIProvider/APIProvider.swift
Labels: enhancement, iOS, environment

#538 [BE/#537] block-post.service 단위 테스트 코드 작성
  BE/src/posts-block/users-block.service.spec.ts
Labels: BE, environment

#546 [iOS/#541] PHPicker에서 특정 이미지 포멧 로드 안되는 문제 해결
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/EditProfile/View/EditProfileViewController.swift
  iOS/Village/Village/Presentation/PostCreate/View/PostCreateViewController.swift
  iOS/Village/Village/Presentation/Utils/Extensions/NSItemProvider+.swift
Labels: enhancement, iOS, post-create, profile-update

#547 [BE/#540] 로깅 추가
  BE/src/common/decorator/auth.decorator.ts
  BE/src/common/guard/auth.guard.ts
  BE/src/common/interceptor/httpLogger.interceptor.ts
  BE/src/login/login.service.ts
  BE/src/users-block/users-block.service.ts
  BE/src/users/users.service.ts
Labels: BE, environment

#549 [iOS/#545] Lint 해결
  iOS/Village/.swiftlint.yml
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Network/EndPoint/Protocol/Requestable.swift
  iOS/Village/Village/Presentation/MyPage/View/MyPageViewController.swift
  iOS/Village/Village/Presentation/MyPosts/View/MyPostsViewController.swift
Labels: iOS, environment

#552 [iOS/#551] 탭바 Divider 있도록 수정
  iOS/Village/Village/Application/AppTabBarController.swift
Labels: enhancement, iOS, environment

#553 [iOS/#550] 키보드 constraint 동적 변화 수정
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Presentation/PostCreate/View/PostCreateViewController.swift
Labels: iOS, environment

#556 [BE] refresh token 만료시 401 응답
  BE/src/login/login.service.ts
Labels: BE, login

#558 [BE] access token 만료시 401 응답
  BE/src/common/guard/auth.guard.ts
Labels: BE, login

#559 [BE] refresh token 만료시 401 응답
  BE/src/login/login.controller.ts
Labels: BE, environment

#560 [iOS/#557] Refresh Token 만료 처리 수정
  iOS/Village/Village/Application/SceneDelegate.swift
  iOS/Village/Village/Network/APIProvider/AuthInterceptor.swift
  iOS/Village/Village/Network/NetworkError.swift
  iOS/Village/Village/Presentation/MyPage/View/MyPageViewController.swift
Labels: enhancement, iOS, environment

#561 [iOS/#554] 마이페이지 UITableView로 변경
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/MyPage/View/MyPageTableViewCell.swift
  iOS/Village/Village/Presentation/MyPage/View/MyPageViewController.swift
  iOS/Village/Village/Presentation/MyPage/View/ProfileTableViewCell.swift
  iOS/Village/Village/Presentation/MyPage/ViewModel/MyPageViewModel.swift
Labels: iOS, mypage

#563 [BE/#562] block user, report 서비스 테스트 코드 작성
  BE/src/login/login.controller.ts
  BE/src/posts-block/posts-block.service.spec.ts
  BE/src/report/report.module.ts
  BE/src/report/report.service.spec.ts
  BE/src/report/report.service.ts
  BE/src/users-block/users-block.service.spec.ts
  BE/src/users-block/users-block.service.ts
Labels: BE, environment

#567 [iOS/#565] 마이페이지 버그 수정
  iOS/Village/Village/Presentation/MyPage/View/MyPageViewController.swift
  iOS/Village/Village/Presentation/MyPage/ViewModel/MyPageViewModel.swift
Labels: iOS, mypage

#578 [BE/#577] 게시글 필터링 수정 및 레파지토리 분리
  BE/src/config/mysql.config.ts
  BE/src/entities/blockUser.entity.ts
  BE/src/entities/post.entity.ts
  BE/src/post/post.module.ts
  BE/src/post/post.repository.spec.ts
  BE/src/post/post.repository.ts
  BE/src/post/post.service.ts
Labels: BE, post-list

#583 [iOS] 게시글 신고 Clean Architecture 도입
  .DS_Store
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Common/Constants.swift
  iOS/Village/Village/Common/PostNotificationPublisher.swift
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Data/Network/DTO/AppleOAuthDTO.swift
  iOS/Village/Village/Data/Network/DTO/BlockedUserDTO.swift
  iOS/Village/Village/Data/Network/DTO/ChatRoomRequestDTO.swift
  iOS/Village/Village/Data/Network/DTO/GetAllReadResponseDTO .swift
  iOS/Village/Village/Data/Network/DTO/GetChatListResponseDTO.swift
  iOS/Village/Village/Data/Network/DTO/GetRoomResponseDTO.swift
  iOS/Village/Village/Data/Network/DTO/PatchUserDTO.swift
  iOS/Village/Village/Data/Network/DTO/PostListRequestDTO.swift
  iOS/Village/Village/Data/Network/DTO/PostModifyRequestDTO.swift
  iOS/Village/Village/Data/Network/DTO/PostMuteResponseDTO.swift
  iOS/Village/Village/Data/Network/DTO/PostResponseDTO.swift
  iOS/Village/Village/Data/Network/DTO/PostRoomRequestDTO.swift
  iOS/Village/Village/Data/Network/DTO/PostRoomResponseDTO.swift
  iOS/Village/Village/Data/Network/DTO/Protocol/MultipartFormData.swift
  iOS/Village/Village/Data/Network/DTO/ReportDTO.swift
  iOS/Village/Village/Data/Network/DTO/RequestFilterDTO.swift
  iOS/Village/Village/Data/Network/DTO/UserResponseDTO.swift
  iOS/Village/Village/Data/Repository/DefaultReportRepository.swift
  iOS/Village/Village/Domain/Repository/ReportRepository.swift
  iOS/Village/Village/Domain/UseCase/ReportUseCase.swift
  iOS/Village/Village/Domain/UseCase/UseCase.swift
  iOS/Village/Village/Presentation/Report/View/ReportViewController.swift
  iOS/Village/Village/Presentation/Report/ViewModel/ReportViewModel.swift
Labels: enhancement, iOS

#586 [BE/#585] post list api 수정
  BE/src/post/dto/postList.dto.ts
  BE/src/post/post.repository.spec.ts
  BE/src/post/post.repository.ts
  BE/src/post/post.service.ts
Labels: BE, post-list

#581 [BE/#580] 트랜잭션 방법 변경
  BE/src/common/base.repository.ts
  BE/src/common/interceptor/transaction.interceptor.ts
  BE/src/post/post.controller.ts
  BE/src/post/post.repository.spec.ts
  BE/src/post/post.repository.ts
  BE/src/post/post.service.ts
Labels: BE, environment

#589 [BE/#579]이미지 서비스 분리
  BE/package-lock.json
  BE/package.json
  BE/src/app.module.ts
  BE/src/common/S3Handler.ts
  BE/src/common/greenEyeHandler.ts
  BE/src/config/s3.config.ts
  BE/src/image/image.module.ts
  BE/src/image/image.service.spec.ts
  BE/src/image/image.service.ts
  BE/src/image/postImage.repository.ts
  BE/src/post/post.controller.ts
  BE/src/post/post.module.ts
  BE/src/post/post.service.ts
Labels: BE, environment
