Repository boostcampwm2023/iOS05-Village, pull requests merged in 2023-11, with the labels that each got.

#10 [iOS/#4] SwiftLint 적용
  iOS/Village/.swiftlint.yml
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: iOS, environment

#11 [iOS/#5] 스토리보드 삭제 및 버전 수정
  iOS/Village/.swiftlint.yml
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Base.lproj/Main.storyboard
  iOS/Village/Village/Info.plist
  iOS/Village/Village/SceneDelegate.swift
Labels: iOS, environment

#15 [iOS/#14] iOS 폴더 구조 설정
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Application/AppDelegate.swift
  iOS/Village/Village/Application/SceneDelegate.swift
  iOS/Village/Village/Base.lproj/LaunchScreen.storyboard
  iOS/Village/Village/Presentation/ViewController.swift
  iOS/Village/Village/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/Village/Village/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/Village/Village/Resources/Assets.xcassets/Contents.json
  iOS/Village/Village/Resources/Info.plist
Labels: iOS, environment

#17 [iOS/#13] Color Scheme 추가
  iOS/Village/Village/Resources/Assets.xcassets/Grey-800.colorset/Contents.json
  iOS/Village/Village/Resources/Assets.xcassets/Negative-400.colorset/Contents.json
  iOS/Village/Village/Resources/Assets.xcassets/Primary-500.colorset/Contents.json
Labels: iOS, environment

#19 [iOS/#18] info.plist경로 수정
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: enhancement, iOS

#21 [iOS/#9] 더미 데이터 작성
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Data/Dummy/Post.json
  iOS/Village/Village/Data/Dummy/Posts.json
  iOS/Village/Village/Data/Dummy/Users.json
Labels: iOS, environment

#23 [iOS/#22] 테스트 타겟 설정
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village.xcodeproj/xcshareddata/xcschemes/Village.xcscheme
Labels: iOS, environment

#24 [iOS/#22] 테스트 타겟 설정
  iOS/Village/VillageTests/.gitkeep
Labels: iOS, environment

#31 [BE/#30] ESLint 설정
  BE/.prettierrc
Labels: review, BE, environment

#33 [BE/#32] Swagger 설정
  BE/.gitignore
  BE/package-lock.json
  BE/package.json
  BE/src/main.ts
  BE/src/utils/swagger.ts
Labels: BE, environment

#35 [BE/#34] 환경변수 설정
  BE/.gitignore
  BE/package.json
  BE/src/app.module.ts
Labels: BE, environment

#37 [iOS/#8] 홈 화면 게시글 등록 Floating Button 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/CustomView/FloatingButton.swift
Labels: iOS, post-create

#38 [iOS#8] Refactor: 리뷰 피드백 반영
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Common/Constants.swift
  iOS/Village/Village/Presentation/CustomView/FloatingButton.swift
Labels: enhancement, iOS, post-create

#39 [BE/#36] Logging 설정
  BE/.gitignore
  BE/package-lock.json
  BE/package.json
  BE/src/app.controller.ts
  BE/src/app.module.ts
  BE/src/main.ts
  BE/src/utils/winston.ts
Labels: review, BE, environment

#40 [iOS#27] 게시글 등록 뷰 구현 및 AutoLayout 적용
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/PostingRent/PeriodPicker.swift
  iOS/Village/Village/Presentation/PostingRent/PostingRentViewController.swift
Labels: iOS, post-create

#43 [iOS/#28] 홈 뷰 구현 및 AutoLayout 적용
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/Home/HomeCollectionViewCell.swift
  iOS/Village/Village/Presentation/Home/HomeViewController.swift
  iOS/Village/Village/Presentation/Utils/Extensions/UILabel+SetTitle.swift
  iOS/Village/Village/Presentation/Utils/Extensions/UINavigationItem+MakeSFSymbolButton.swift
Labels: iOS, post-list

#45 [iOS/#44] .gitattributes 설정
  iOS/.gitattributes
Labels: iOS, environment

#46 [iOS/#28] 피드백 수정
  iOS/Village/Village/Common/Constants.swift
  iOS/Village/Village/Presentation/Home/HomeCollectionViewCell.swift
  iOS/Village/Village/Presentation/Home/HomeViewController.swift
  iOS/Village/Village/Presentation/Utils/Extensions/UINavigationItem+MakeSFSymbolButton.swift
  iOS/Village/Village/Resources/Assets.xcassets/Primary-100.colorset/Contents.json
Labels: iOS, post-list

#48 [BE/#42] typeORM을 설정
  BE/package-lock.json
  BE/package.json
  BE/src/app.module.ts
  BE/src/config/mysql.config.ts
  BE/src/config/swagger.config.ts
  BE/src/config/winston.config.ts
  BE/src/entities/blockPost.entity.ts
  BE/src/entities/blockUser.entity.ts
  BE/src/entities/post.entity.ts
  BE/src/entities/postImage.entity.ts
  BE/src/entities/user.entity.ts
  BE/src/main.ts
Labels: review, BE, environment

#50 [BE/#49] CI 스크립트 작성
  .github/workflows/be-ci.yml
Labels: review, BE, environment

#51 [BE/#49] CI 수정
  .github/workflows/be-ci.yml
Labels: BE, environment

#52 [BE/#49] CI 수정
  .github/workflows/be-ci.yml
Labels: review, BE, environment

#53 [BE/#49] CI 수정
  .github/workflows/be-ci.yml
Labels: review, BE, environment

#54 [iOS/#8] 홈 화면 게시글 등록 Floating Button 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/CustomView/MenuView.swift
  iOS/Village/Village/Presentation/Home/HomeViewController.swift
  iOS/Village/Village/Resources/Assets.xcassets/Grey-100.colorset/Contents.json
Labels: iOS, post-create

#57 [iOS/#55] iOS -> main 주간 브랜치 Merge
  .DS_Store
  iOS/.gitattributes
  iOS/.gitignore
  iOS/Village/.swiftlint.yml
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/Village/Village.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/Village/Village.xcodeproj/xcshareddata/xcschemes/Village.xcscheme
  iOS/Village/Village/Application/AppDelegate.swift
  iOS/Village/Village/Application/SceneDelegate.swift
  iOS/Village/Village/Common/Constants.swift
  iOS/Village/Village/Data/Dummy/Post.json
  iOS/Village/Village/Data/Dummy/Posts.json
  iOS/Village/Village/Data/Dummy/Users.json
  iOS/Village/Village/Presentation/CustomView/FloatingButton.swift
  iOS/Village/Village/Presentation/CustomView/MenuView.swift
  iOS/Village/Village/Presentation/Home/HomeCollectionViewCell.swift
  iOS/Village/Village/Presentation/Home/HomeViewController.swift
  iOS/Village/Village/Presentation/PostingRent/PeriodPicker.swift
  iOS/Village/Village/Presentation/PostingRent/PostingRentViewController.swift
  iOS/Village/Village/Presentation/Utils/Extensions/UILabel+SetTitle.swift
  iOS/Village/Village/Presentation/Utils/Extensions/UINavigationItem+MakeSFSymbolButton.swift
  iOS/Village/Village/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/Village/Village/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/Village/Village/Resources/Assets.xcassets/Contents.json
  iOS/Village/Village/Resources/Assets.xcassets/Grey-100.colorset/Contents.json
  iOS/Village/Village/Resources/Assets.xcassets/Grey-800.colorset/Contents.json
  iOS/Village/Village/Resources/Assets.xcassets/Negative-400.colorset/Contents.json
  iOS/Village/Village/Resources/Assets.xcassets/Primary-100.colorset/Contents.json
  iOS/Village/Village/Resources/Assets.xcassets/Primary-500.colorset/Contents.json
  iOS/Village/Village/Resources/Info.plist
  iOS/Village/VillageTests/.gitkeep
Labels: iOS

#58 [BE/#56] BE -> main 주간 브랜치 Merge
  .github/workflows/be-ci.yml
  BE/.eslintrc.js
  BE/.gitignore
  BE/.prettierrc
  BE/README.md
  BE/nest-cli.json
  BE/package-lock.json
  BE/package.json
  BE/src/app.controller.spec.ts
  BE/src/app.controller.ts
  BE/src/app.module.ts
  BE/src/app.service.ts
  BE/src/config/mysql.config.ts
  BE/src/config/swagger.config.ts
  BE/src/config/winston.config.ts
  BE/src/entities/blockPost.entity.ts
  BE/src/entities/blockUser.entity.ts
  BE/src/entities/post.entity.ts
  BE/src/entities/postImage.entity.ts
  BE/src/entities/user.entity.ts
  BE/src/main.ts
  BE/test/app.e2e-spec.ts
  BE/test/jest-e2e.json
  BE/tsconfig.build.json
  BE/tsconfig.json
Labels: BE

#61 [BE/#60] 물품 조회 API 구현
  BE/src/app.module.ts
  BE/src/post/post.controller.ts
  BE/src/post/post.module.ts
  BE/src/post/post.service.ts
Labels: BE, post-list

#64 [iOS/#27] 게시글 등록 뷰 구현 및 AutoLayout 적용
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/PostingRent/PeriodPicker.swift
  iOS/Village/Village/Presentation/PostingRent/PostingRentViewController.swift
  iOS/Village/Village/Presentation/PostingRent/TimePickerView.swift
  iOS/Village/Village/Presentation/Utils/Extensions/UIView+Layer.swift
Labels: iOS, post-create

#71 [iOS/#70] 홈 화면 대여 게시글 등록 화면으로 이동
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
Labels: iOS, post-create

#68 [iOS/#67] TapBarController 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Application/SceneDelegate.swift
  iOS/Village/Village/Common/Constants.swift
  iOS/Village/Village/Presentation/Chat/ChatViewController.swift
  iOS/Village/Village/Presentation/MyPage/MyPageViewController.swift
Labels: iOS, post-list

#66 [iOS/#65] 게시글 상세화면으로 이동
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/DetailPost/PostDetailViewController.swift
  iOS/Village/Village/Presentation/Home/View/HomeCollectionViewCell.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/Home/ViewModel/PostListItemViewModel.swift
Labels: iOS, post-list, post-detail

#75 [iOS/#8] 홈 화면 게시글 등록 Floating Button 구현
  iOS/Village/Village/Presentation/CustomView/FloatingButton.swift
Labels: enhancement, iOS, post-create

#77 [BE/#49] CD 설정
  .github/workflows/BE-CD.yml
  .github/workflows/BE-CI.yml
Labels: BE, environment

#78 [BE/#49] CD yml 파일 대상 브랜치 이름 변경
  .github/workflows/BE-CD.yml
Labels: BE, environment

#80 [BE] Fix : CD yml 명령수정
  .github/workflows/BE-CD.yml
Labels: BE, environment

#79 [iOS/#74] 검색화면으로 이동
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Application/SceneDelegate.swift
  iOS/Village/Village/Common/Constants.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/Search/SearchViewController.swift
Labels: iOS, post-search

#76 [iOS/#27] 게시글 등록 뷰 구현 및 AutoLayout 적용
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Common/Constants.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/PostingRent/PostingRentViewController.swift
  iOS/Village/Village/Presentation/PostingRent/TimePickerView.swift
  iOS/Village/Village/Presentation/Utils/Extensions/UITextField+PlaceHolderColor.swift
  iOS/Village/Village/Presentation/Utils/Extensions/UIView+Layer.swift
Labels: iOS, post-create

#89 [BE/#84] S3 API 구현
  BE/package-lock.json
  BE/package.json
  BE/src/utils/S3Handler.ts
Labels: BE, environment

#88 [iOS#27] 게시글 등록 뷰 구현 및 AutoLayout 적용
  iOS/Village/Village/Presentation/PostingRent/PostingRentViewController.swift
  iOS/Village/Village/Presentation/PostingRent/TimePickerView.swift
Labels: iOS, post-create

#86 [iOS/#82] 채팅방 화면 UI 구현 및 오토레이아웃 적용
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Common/Constants.swift
  iOS/Village/Village/Presentation/ChatRoom/ChatRoomViewController.swift
  iOS/Village/Village/Presentation/Commons/PostSummaryView.swift
  iOS/Village/Village/Presentation/Home/View/HomeCollectionViewCell.swift
Labels: enhancement, iOS, chatting

#93 [iOS/#92] NetworkService 코드 리팩토링
  iOS/Village/Village/Network/NetworkService.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
Labels: enhancement, iOS

#85 [BE/#83] GET /posts/{id} API 구현
  BE/package-lock.json
  BE/package.json
  BE/src/post/post.controller.ts
  BE/src/post/post.service.ts
Labels: BE, post-search

#95 [iOS/#91] 대여 요청 게시글 등록 레이아웃
  .DS_Store
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/Posting/Extension/PostingViewController+UITextFieldDelegate.swift
  iOS/Village/Village/Presentation/Posting/Extension/PostingViewController+UITextViewDelegate.swift
  iOS/Village/Village/Presentation/Posting/View/Custom/TimePickerView.swift
  iOS/Village/Village/Presentation/Posting/View/PostingViewController.swift
  iOS/Village/Village/Presentation/Posting/ViewModel/PostingViewModel.swift
  iOS/Village/Village/Presentation/Utils/Extensions/UIStackView+.swift
  iOS/Village/Village/Presentation/Utils/Extensions/UITextField+.swift
Labels: iOS, post-create

#98 [BE/#90] Post /posts API 구현
  BE/package-lock.json
  BE/package.json
  BE/src/app.module.ts
  BE/src/entities/post.entity.ts
  BE/src/main.ts
  BE/src/post/createPost.dto.ts
  BE/src/post/post.controller.ts
  BE/src/post/post.module.ts
  BE/src/post/post.service.ts
  BE/src/utils/multiPartBody.decorator.ts
Labels: BE, post-create

#96 [BE/#94] PATCH /posts/{id} API 구현
  BE/src/main.ts
  BE/src/post/post.controller.ts
  BE/src/post/post.service.ts
  BE/src/post/postUpdateDto.ts
Labels: review, BE, post-manage

#103 [BE/#102] Feat : DeletePost 구현
  BE/src/post/post.controller.ts
  BE/src/post/post.service.ts
Labels: review, BE, post-manage

#104 [iOS/#99] 게시글 등록 뷰 물품 가격 설정 로직 구현
  iOS/Village/.swiftlint.yml
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/Posting/Extension/PostingViewController+UITextFieldDelegate.swift
  iOS/Village/Village/Presentation/Posting/View/Custom/TimePickerView.swift
  iOS/Village/Village/Presentation/Posting/View/PostType.swift
  iOS/Village/Village/Presentation/Posting/View/PostingViewController.swift
  iOS/Village/Village/Presentation/Utils/Extensions/UINavigationItem+MakeSFSymbolButton.swift
Labels: iOS, post-create

#111 [BE/#109] 게시글 목록 조회에 pagination, filter 기능 추가
  BE/src/main.ts
  BE/src/post/dto/postCreate.dto.ts
  BE/src/post/dto/postList.dto.ts
  BE/src/post/dto/postUpdate.dto.ts
  BE/src/post/post.controller.ts
  BE/src/post/post.service.ts
Labels: BE, post-list

#112 [BE/#109] filter 오류 해결
  BE/src/post/post.service.ts
Labels: BE, post-list

#116 [BE/#115] price에 대한 오류 처리 추가
  BE/src/post/dto/postCreate.dto.ts
  BE/src/post/post.controller.ts
  BE/src/utils/price.decorator.ts
Labels: BE, post-create

#120 [BE/#97] POST users API 구현
  BE/src/entities/user.entity.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.module.ts
  BE/src/users/users.service.ts
Labels: review, BE, signup

#125 [BE/#119] PATCH /users/{id} API 구현
  BE/src/post/post.service.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.service.ts
  BE/src/users/usersUpdate.dto.ts
  BE/src/utils/multiPartBody.decorator.ts
Labels: BE, profile-update

#121 [ iOS/#106] LaunchScreen 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Application/AppDelegate.swift
  iOS/Village/Village/Resources/Assets.xcassets/LaunchScreenColor.colorset/Contents.json
  iOS/Village/Village/Resources/Assets.xcassets/LaunchScreenImage.imageset/Contents.json
  iOS/Village/Village/Resources/Assets.xcassets/LaunchScreenImage.imageset/launchScreenImage 1.jpeg
  iOS/Village/Village/Resources/Assets.xcassets/LaunchScreenImage.imageset/launchScreenImage 2.jpeg
  iOS/Village/Village/Resources/Assets.xcassets/LaunchScreenImage.imageset/launchScreenImage.jpeg
  iOS/Village/Village/Resources/Info.plist
  launchScreenImage.jpeg
Labels: iOS, launch screen

#122 [iOS/#110] 네트워크 레이어 테스트
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Network/PostRequestDTO.swift
  iOS/Village/Village/Domain/Network/PostResponseDTO.swift
  iOS/Village/Village/Network/EndPoint/EndPoint.swift
  iOS/Village/Village/Network/Provider/Provider.swift
  iOS/Village/Village/Presentation/DetailPost/PostDetailViewController.swift
  iOS/Village/Village/Presentation/Home/View/HomeCollectionViewCell.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/Home/ViewModel/PostListItemViewModel.swift
  iOS/Village/Village/Resources/Info.plist
Labels: iOS, environment, post-list

#105 [iOS/#87] 네트워크 레이어 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Network/PostRequestDTO.swift
  iOS/Village/Village/Domain/Network/PostResponseDTO.swift
  iOS/Village/Village/Network/Common/NetworkError.swift
  iOS/Village/Village/Network/EndPoint/EndPoint.swift
  iOS/Village/Village/Network/EndPoint/HTTPMethod.swift
  iOS/Village/Village/Network/EndPoint/Reponsable.swift
  iOS/Village/Village/Network/EndPoint/Requestable.swift
  iOS/Village/Village/Network/NetworkService.swift
  iOS/Village/Village/Network/Provider/Provider.swift
  iOS/Village/Village/Presentation/DetailPost/PostDetailViewController.swift
  iOS/Village/Village/Presentation/Home/View/HomeCollectionViewCell.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/Home/ViewModel/PostListItemViewModel.swift
  iOS/Village/Village/Resources/Info.plist
Labels: iOS, environment

#131 [iOS/#124] 채팅 목록 뷰 구현 및 AutoLayout 적용
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Application/SceneDelegate.swift
  iOS/Village/Village/Presentation/Chat/ChatViewController.swift
  iOS/Village/Village/Presentation/ChatList/View/ChatListCollectionViewCell.swift
  iOS/Village/Village/Presentation/ChatList/View/ChatListViewController.swift
  iOS/Village/Village/Presentation/DetailPost/PostDetailViewController.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/Home/ViewModel/PostListItemViewModel.swift
Labels: iOS, chatting

#133 [BE/#127] POST /users/block/{id} API 구현
  BE/src/app.module.ts
  BE/src/config/mysql.config.ts
  BE/src/entities/blockPost.entity.ts
  BE/src/entities/blockUser.entity.ts
  BE/src/entities/user.entity.ts
  BE/src/users-block/users-block.controller.ts
  BE/src/users-block/users-block.module.ts
  BE/src/users-block/users-block.service.ts
Labels: review, BE, user-block

#132 [BE/#126] POST /posts/block/{id} API 구현
  BE/src/app.module.ts
  BE/src/entities/blockPost.entity.ts
  BE/src/entities/blockUser.entity.ts
  BE/src/posts-block/posts-block.controller.ts
  BE/src/posts-block/posts-block.module.ts
  BE/src/posts-block/posts-block.service.ts
  BE/src/users/users.service.ts
Labels: BE, post-hide

#136 [BE/#135] status 타입 오류 수정
  BE/src/users-block/users-block.service.ts
Labels: BE, post-search, user-block

#139 [BE/#134] GET /posts/block API 구현
  BE/src/entities/blockPost.entity.ts
  BE/src/entities/post.entity.ts
  BE/src/post/post.service.ts
  BE/src/posts-block/posts-block.controller.ts
  BE/src/posts-block/posts-block.service.ts
Labels: BE, post-hide

#141 [BE/#137] GET users/block API 구현
  BE/src/entities/blockUser.entity.ts
  BE/src/users-block/users-block.controller.ts
  BE/src/users-block/users-block.service.ts
Labels: review, BE, user-block

#144 [BE/#143] Feat : hash 생성 함수 구현
  BE/package-lock.json
  BE/package.json
  BE/src/entities/user.entity.ts
  BE/src/users/users.service.ts
  BE/src/utils/hashMaker.ts
Labels: review, BE, signup

#153 [BE/#145] 게시글 조회시 차단 목록 필터링 구현
  BE/src/post/post.controller.ts
  BE/src/post/post.module.ts
  BE/src/post/post.service.ts
Labels: BE, user-block

#155 [iOS/#148] PostListItem 모델 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Domain/Network/PostResponseDTO.swift
  iOS/Village/Village/Presentation/Home/Model/PostListItem.swift
Labels: enhancement, iOS, post-list

#160 [BE/#154] 변수 네이밍 변경
  BE/src/post/dto/postCreate.dto.ts
  BE/src/post/dto/postUpdate.dto.ts
  BE/src/post/post.controller.ts
  BE/src/post/post.service.ts
Labels: review, BE, post-create

#163 [BE] Refactor : getPost 변수명 수정
  BE/src/post/post.service.ts
Labels: review, BE, post-search

#165 [BE/#164] findPosts 이미지 배열 처리
  BE/src/post/post.service.ts
Labels: review, BE, post-list

#168 게시글 조회 기능 구현
  BE/src/entities/post.entity.ts
  BE/src/post/post.controller.ts
  BE/src/post/post.service.ts
Labels: BE, environment

#170 [BE/#169] Soft Delete 적용
  BE/src/entities/blockPost.entity.ts
  BE/src/entities/blockUser.entity.ts
  BE/src/entities/post.entity.ts
  BE/src/entities/postImage.entity.ts
  BE/src/entities/user.entity.ts
  BE/src/post/post.service.ts
Labels: review, BE, post-manage

#172 [BE/#118] DELETE API 구현 및 삭제 관련 로직 수정
  BE/src/entities/blockPost.entity.ts
  BE/src/entities/blockUser.entity.ts
  BE/src/entities/post.entity.ts
  BE/src/entities/user.entity.ts
  BE/src/post/post.controller.ts
  BE/src/post/post.service.ts
  BE/src/posts-block/posts-block.controller.ts
  BE/src/posts-block/posts-block.service.ts
  BE/src/users-block/users-block.controller.ts
  BE/src/users-block/users-block.service.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.module.ts
  BE/src/users/users.service.ts
  BE/src/utils/hashMaker.ts
Labels: BE

#174 [BE/#173] API 서버 로그 기록
  BE/package-lock.json
  BE/package.json
  BE/src/config/winston.config.ts
  BE/src/main.ts
  BE/src/post/post.controller.ts
  BE/src/utils/httpLogger.interceptor.ts
Labels: BE, environment

#177 [BE/#142] PATCH Post/{id} 구현
  BE/package-lock.json
  BE/package.json
  BE/src/main.ts
  BE/src/post/dto/postUpdate.dto.ts
  BE/src/post/post.service.ts
Labels: BE, post-manage

#171 [iOS/#162] 게시글 상세 화면 뷰 컨트롤러 통합
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Network/PostListResponseDTO.swift
  iOS/Village/Village/Domain/Network/PostResponseDTO.swift
  iOS/Village/Village/Presentation/Home/Model/PostListItem.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/PostDetail/Custom/ImagePageView.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
  iOS/Village/Village/Presentation/PostDetail/RequestDetailViewController.swift
  iOS/Village/Village/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
Labels: enhancement, iOS, post-detail

#179 [iOS/#178] 홈 화면 플로팅 버튼 개선
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/PostDetail/Custom/PostInfoView.swift
Labels: enhancement, iOS, post-create

#180 [iOS/#140] 채팅목록 더미 데이터 생성 및 적용
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Data/Dummy/ChatList.json
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Presentation/ChatList/View/ChatListCollectionViewCell.swift
  iOS/Village/Village/Presentation/ChatList/View/ChatListViewController.swift
  iOS/Village/Village/Presentation/ChatList/ViewModel/ChatListViewModel.swift
Labels: iOS, chatting

#182 [BE/#181] API 오류 수정 및 API 문서 연결
  BE/src/app.controller.spec.ts
  BE/src/app.controller.ts
  BE/src/app.module.ts
  BE/src/app.service.ts
  BE/src/config/swagger.config.ts
  BE/src/entities/blockPost.entity.ts
  BE/src/entities/blockUser.entity.ts
  BE/src/post/post.controller.ts
  BE/src/posts-block/posts-block.service.ts
  BE/src/users-block/users-block.service.ts
  BE/src/users/users.service.ts
  BE/src/utils/httpLogger.interceptor.ts
Labels: BE, environment

#186 [iOS/#151] 게시글 등록 뷰 작성하기 버튼 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Network/PostCreateDTO.swift
  iOS/Village/Village/Network/EndPoint/EndPoint.swift
  iOS/Village/Village/Network/EndPoint/Requestable.swift
  iOS/Village/Village/Network/Provider/Provider.swift
  iOS/Village/Village/Presentation/ChatList/View/ChatListViewController.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreateDetailView.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreatePriceView.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreateTimeView.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/PostCreateTitleView.swift
  iOS/Village/Village/Presentation/PostCreate/View/Custom/TimePickerView.swift
  iOS/Village/Village/Presentation/PostCreate/View/PostCreateViewController.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateRepository.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateUseCase.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
  iOS/Village/Village/Presentation/Posting/ViewModel/PostCreateViewModel.swift
  iOS/Village/Village/Presentation/Posting/ViewModel/PostingRepository.swift
  iOS/Village/Village/Presentation/Posting/ViewModel/PostingViewModel.swift
Labels: iOS, post-create

#193 [iOS/#190] 로그인 화면 UI 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/Login/LoginViewController.swift
  iOS/Village/Village/Resources/Assets.xcassets/LoginLogo.imageset/Contents.json
  iOS/Village/Village/Resources/Assets.xcassets/LoginLogo.imageset/LoginLogo 1.png
  iOS/Village/Village/Resources/Assets.xcassets/LoginLogo.imageset/LoginLogo 2.png
  iOS/Village/Village/Resources/Assets.xcassets/LoginLogo.imageset/LoginLogo.png
Labels: iOS, login

#196 [iOS/#195] 회원가입 화면 UI 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Common/Constants.swift
  iOS/Village/Village/Presentation/SignUp/View/Custom/NicknameTextField.swift
  iOS/Village/Village/Presentation/SignUp/View/Custom/ProfileImageView.swift
  iOS/Village/Village/Presentation/SignUp/View/SignUpViewController.swift
Labels: iOS, signup

#197 [BE/#191] Apple OAuth 구현
  BE/package-lock.json
  BE/package.json
  BE/src/app.module.ts
  BE/src/login/dto/appleLogin.dto.ts
  BE/src/login/login.controller.spec.ts
  BE/src/login/login.controller.ts
  BE/src/login/login.module.ts
  BE/src/login/login.service.spec.ts
  BE/src/login/login.service.ts
Labels: review, BE, login

#198 [BE/#192] 로그인 컨트롤러 작성
  BE/package-lock.json
  BE/package.json
  BE/src/config/jwt.config.ts
  BE/src/entities/user.entity.ts
  BE/src/login/appleLoginDto.ts
  BE/src/login/login.controller.spec.ts
  BE/src/login/login.controller.ts
  BE/src/login/login.module.ts
  BE/src/login/login.service.spec.ts
  BE/src/login/login.service.ts
  BE/src/users/users.service.ts
Labels: BE, login

#202 [BE/#200] Guard 인가 구현
  BE/src/login/login.controller.ts
  BE/src/login/login.module.ts
  BE/src/main.ts
  BE/src/post/post.controller.ts
  BE/src/post/post.module.ts
  BE/src/posts-block/posts-block.controller.ts
  BE/src/posts-block/posts-block.module.ts
  BE/src/users-block/users-block.controller.ts
  BE/src/users-block/users-block.module.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.module.ts
  BE/src/utils/auth.guard.ts
Labels: review, BE, login

#206 [BE/#199] 토큰 재발급 로직 구현
  BE/src/login/appleLoginDto.ts
  BE/src/login/login.controller.ts
  BE/src/login/login.service.ts
Labels: BE, login

#207 [BE/#205] UserHash 데코레이터 구현
  BE/src/post/post.controller.ts
  BE/src/posts-block/posts-block.controller.ts
  BE/src/users-block/users-block.controller.ts
  BE/src/utils/auth.decorator.ts
  BE/src/utils/auth.guard.ts
Labels: BE, login

#211 [iOS/#201] 멀티파트 네트워킹 로직 리팩토링
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Common/Encodable+.swift
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Network/PostCreateRequestDTO.swift
  iOS/Village/Village/Domain/Network/PostListRequestDTO.swift
  iOS/Village/Village/Domain/Network/PostListResponseDTO.swift
  iOS/Village/Village/Domain/Network/PostResponseDTO.swift
  iOS/Village/Village/Domain/Network/Protocol/MultipartFormData.swift
  iOS/Village/Village/Network/APIProvider/APIProvider.swift
  iOS/Village/Village/Network/EndPoint/EndPoint.swift
  iOS/Village/Village/Network/EndPoint/Protocol/Requestable.swift
  iOS/Village/Village/Network/EndPoint/Protocol/Responsable.swift
  iOS/Village/Village/Network/NetworkError.swift
  iOS/Village/Village/Presentation/ChatList/View/ChatListCollectionViewCell.swift
  iOS/Village/Village/Presentation/ChatList/ViewModel/ChatListViewModel.swift
  iOS/Village/Village/Presentation/Home/View/HomeViewController.swift
  iOS/Village/Village/Presentation/Home/ViewModel/HomeViewModel.swift
  iOS/Village/Village/Presentation/PostCreate/ViewModel/PostCreateViewModel.swift
  iOS/Village/Village/Presentation/PostDetail/Custom/ImagePageView.swift
  iOS/Village/Village/Presentation/PostDetail/Custom/UserInfoView.swift
  iOS/Village/Village/Presentation/PostDetail/ViewModel/PostDetailViewModel.swift
Labels: enhancement, iOS

#212 [iOS/#210] 채팅방 UITableView 레이아웃
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomTableViewCell.swift
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Presentation/Utils/Extensions/UICollectionViewCell+Identifier.swift
  iOS/Village/Village/Presentation/Utils/Extensions/UITableViewCell+Identifier.swift
Labels: iOS, chatting

#215 [BE/#214] Feat : 채팅 Gateway 설정
  BE/package-lock.json
  BE/package.json
  BE/src/app.module.ts
  BE/src/chat/chat.controller.ts
  BE/src/chat/chat.module.ts
  BE/src/chat/chat.service.ts
  BE/src/chat/chats.gateway.ts
  BE/src/main.ts
Labels: review, BE

#217 [BE] access token 검증 API 구현
  BE/src/login/login.controller.ts
  BE/src/main.ts
Labels: BE

#219 [BE/#218] 채팅방 만들기 구현
  BE/src/chat/chat.controller.ts
  BE/src/chat/chat.module.ts
  BE/src/chat/chat.service.ts
  BE/src/chat/chats.gateway.ts
  BE/src/chat/createRoom.dto.ts
  BE/src/entities/chatRoom.entity.ts
Labels: BE

#221 [BE/#220] Feat : 채팅하기 누르면 채팅방 생성 혹은 조회 구현
  BE/src/chat/chat.controller.ts
  BE/src/chat/chat.service.ts
  BE/src/chat/chats.gateway.ts
  BE/src/chat/createRoom.dto.ts
  BE/src/config/mysql.config.ts
  BE/src/entities/chatRoom.entity.ts
  BE/src/utils/auth.decorator.ts
Labels: review, BE, chatting

#222 [iOS/#194] 애플 로그인 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Application/AppTabBarController.swift
  iOS/Village/Village/Application/SceneDelegate.swift
  iOS/Village/Village/Data/Network/APIEndPoints.swift
  iOS/Village/Village/Domain/Entity/AuthenticationToken.swift
  iOS/Village/Village/Domain/Network/AppleOAuthDTO.swift
  iOS/Village/Village/Presentation/Login/LoginViewController.swift
  iOS/Village/Village/Presentation/Login/ViewModel/LoginViewModel.swift
  iOS/Village/Village/Village.entitlements
Labels: iOS, login

#225 [iOS/#224] 키체인 관리자 객체 구현
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Data/PersistentStorage/KeychainError.swift
  iOS/Village/Village/Data/PersistentStorage/KeychainManager.swift
Labels: iOS, environment

#227 [iOS/#213] 푸시 알림 임시 구현
  .DS_Store
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Application/AppDelegate.swift
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Presentation/PostCreate/View/PostCreateViewController.swift
  iOS/Village/Village/Presentation/PostDetail/PostDetailViewController.swift
  iOS/Village/Village/Presentation/Search/SearchViewController.swift
  iOS/Village/Village/Presentation/Utils/Extensions/NotificationName+.swift
  iOS/Village/Village/Village.entitlements
Labels: iOS, chatting

#231 [BE/#229] DB Chat Entity 제작 및 DB 제작
  BE/src/config/mysql.config.ts
  BE/src/entities/chat.entity.ts
  BE/src/entities/chatRoom.entity.ts
  BE/src/entities/user.entity.ts
  BE/src/utils/auth.guard.ts
Labels: review, BE, chatting

#230 [iOS/#228] 마이페이지 뷰 구현 및 AutoLayout 적용
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Application/AppTabBarController.swift
  iOS/Village/Village/Data/Dummy/ChatList.json
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Presentation/ChatRoom/View/CustomView/PostView.swift
  iOS/Village/Village/Presentation/Commons/PostSummaryView.swift
  iOS/Village/Village/Presentation/MyPage/MyPageViewController.swift
  iOS/Village/Village/Presentation/MyPage/View/MyPageViewController.swift
  iOS/Village/Village/Presentation/MyPage/ViewModel/MyPageViewModel.swift
Labels: iOS, mypage

#234 [ iOS/#204] 채팅 보내기 구현
  iOS/.gitignore
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Socket/WebSocket.swift
  iOS/Village/Village/Socket/WebSocketError.swift
  iOS/Village/Village/Socket/chat-server.ts
Labels: iOS, chatting

#237 [BE/#223] FCM 을 조작할 수 있는 로직 추가
  BE/package-lock.json
  BE/package.json
  BE/src/chat/chat.controller.ts
  BE/src/chat/chat.module.ts
  BE/src/config/mysql.config.ts
  BE/src/entities/registrationToken.entity.ts
  BE/src/entities/user.entity.ts
  BE/src/utils/fcmHandler.ts
Labels: BE, chatting

#241 [iOS/#232] 푸시 알림 Firebase 설정
  iOS/Village/Village.xcodeproj/project.pbxproj
  iOS/Village/Village.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/Village/Village/Application/AppDelegate.swift
  iOS/Village/Village/Application/GoogleService-Info.plist
  iOS/Village/Village/Presentation/Utils/Extensions/NotificationName+.swift
  iOS/Village/Village/Presentation/Utils/Extensions/UIView+Divider.swift
  iOS/Village/Village/Resources/Info.plist
Labels: iOS, chatting

#245 [iOS/#235] 채팅 받기 구현
  iOS/Village/Village/Data/Dummy/ChatRoom.json
  iOS/Village/Village/Presentation/ChatRoom/View/ChatRoomViewController.swift
  iOS/Village/Village/Presentation/ChatRoom/ViewModel/ChatRoomViewModel.swift
  iOS/Village/Village/Socket/WebSocket.swift
Labels: iOS, chatting

#247 [BE/#239] registration token 등록 API 구현
  BE/src/chat/chat.service.ts
  BE/src/entities/chat.entity.ts
  BE/src/entities/chatRoom.entity.ts
  BE/src/main.ts
  BE/src/users/users.controller.ts
  BE/src/users/users.module.ts
  BE/src/users/users.service.ts
  BE/src/utils/auth.decorator.ts
Labels: BE, chatting
